@-webkit-keyframes iui-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes iui-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-ms-keyframes iui-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes iui-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes iui-fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes iui-fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes iui-fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-ms-keyframes iui-fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes iui-fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes iui-fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.bodyAndFooter-cont .fontPickerSeperation {
  margin-bottom: 5px;
}

.bodyAndFooter-cont .fontPickerSeperation.rowNoMargin {
  margin: 0px auto;
}

.bodyAndFooter-cont .fontPickerSeperation .windowsUI {
  padding: 3px;
  max-height: 38px;
  height: 30px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cecece;
}

.bodyAndFooter-cont .fontPickerSeperation .fontEffectsDivSingle {
  padding: 0px 10px;
  margin-top: 3px;
}

.bodyAndFooter-cont .fontPickerSample {
  text-align: center;
}

.bodyAndFooter-cont .fontPickerSample .fontPickerSampleLegend {
  text-align: left;
  width: auto;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  cursor: initial;
  margin-bottom: 0px;
}

.bodyAndFooter-cont .fontPickerSample .fontPickerSampleText {
  padding: 10px 10px 20px 10px;
}

.bodyAndFooter-cont .fontPickerSample .windowsUI {
  padding: 3px;
  max-height: 38px;
  height: 30px;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #cecece;
}

.bodyAndFooter-cont .footer-cont #filterBtn .allow-enter-key {
  margin-top: 10px;
}

.functionalityPicker {
  background-color: #eeeeee;
  border-radius: 50%;
  right: -6px;
}

.sp-replacer {
  width: 100%;
  height: 23px;
}

.sp-replacer .sp-dd {
  display: none;
}
