//* table row as card -----------------*//
#ivirMainDataTableWrapper {
    table {
        &.cards {
            tbody {
                tr {
                    margin: 0.5rem;
                    padding: 10px 0px;
                    @include border-radius($border-radius);
                    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.16), 0 2px 10px rgba(0, 0, 0, 0.12);
                    display: inline-block;
                }

                td {
                    display: block;
                    border: none;
                    width: calc(100vw - 2rem - 30px);
                    padding: 0px 10px;
                    text-align: left;

                    &.visibleMobileCol {
                        &:nth-of-type(1n+6) {
                            display: none;
                        }

                        &.forceShow {
                            display: block;

                            label {
                                display: block;
                            }
                        }
                    }

                    .rowOptionsExist {
                        float: right;
                    }
                }

                label {
                    color: $black;
                }
            }

            tr {
                td {
                    .cardLabelContent {
                        display: inline-block;
                    }
                }

                &.selector {
                    label {
                        color: $black;
                    }
                }
            }

            &.gridData {
                &.ivirMainGrid {
                    table-layout: fixed;
                }
            }
        }

    }
}

//* table row as card -----------------*//